body{
  font-family: sans-serif;
	font-size: 24px;
  margin: 0px;
}
.table{
  display: block;
  background-color:#d5bebe;
  height:100vh;
  
}
.player{
  font-size: 2.5rem;
  text-align:center;
  background-color: #192C4D;
  height: 76px;
  width: 120px;
  position:absolute;
  right:760px;
  top: 700px;
  border-radius: .5rem;
}
.bank{
  font-size: 2.5rem;
  text-align:center;
  background-color: brown;
  height: 76px;
  width: 120px;
  position:absolute;
  right:760px;
  top: 60px;
  border-radius: .5rem;

}
.play-field{
  background-color: #B6A6AB;
  height: 400px;
  width: 600px;
  position: absolute;
  left: 550px;
  top: 180px;
  border-radius: 1rem;
}
.deck{
  font-size: 3rem;
  text-align:center ;
  background-color: #5D2E4A;
  height: 100px;
  width: 80px;
  position: absolute;
  left: 80px;
  top: 150px;
  border-radius: .5rem;
}

 #p1{
  font-size: 2.5rem;
  text-align:center;
  background-color: #192C4D;
  height: 100px;
  width: 80px;
  position: absolute;
  left: 210px;
  top: 300px;
  border-radius: .5rem;
}
#p2{
  font-size: 2.5rem;
  text-align:center;
  background-color: #192C4D;
  height: 100px;
  width: 80px;
  position: absolute;
  left: 350px;
  top: 300px;
  border-radius: .5rem;
}
#d1{
  font-size: 2.5rem;
  text-align:center;
  background-color: #A13047;
  height: 100px;
  width: 80px;
  position: absolute;
  left: 210px;
  top: 0px;
  border-radius: .5rem;
}
#d2{
  font-size: 2.5rem;
  text-align:center;
  background-color: #A13047;
  height: 100px;
  width: 80px;
  position: absolute;
  left: 350px;
  top: 0px;
  border-radius: .5rem;
}
#hit{
  font-size: 2rem;
  background-color: darkslategray;
  height: 45px;
  width: 45px;
  position: absolute;
  left: 780px;
  top:630px;
  border-radius: 50%;
}
#stand{
  font-size: 2rem;
  background-color: #58657E;
  height: 45px;
  width: 45px;
  position: absolute;
  left: 890px;
  top: 630px;
  border-radius: 50%;
}
#deal{
  background-color: aqua;
  height: fit-content;
}
#dealerInput{
  width: 30px;
}
#playerInput{
  width: 30px;
}