body{
  font-family: sans-serif;
	font-size: 24px;
  margin: 0px;
}
.table{
  display: block;
  background-color: green;
  height:100vh;
  
}
.player{
  background-color:white;
  height: 76px;
  width: 120px;
  position:absolute;
  right:300px;
  top: 600px;

}
.bank{
  background-color: brown;
  height: 76px;
  width: 120px;
  position:absolute;
  right:300px;
  top: 10px;

}
.play-field{
  background-color: burlywood;
  height: 300px;
  width: 450px;
  position: absolute;
  left: 160px;
  top: 200px;
}
.deck{
  background-color: chartreuse;
  height: 70px;
  width: 45px;
  position: absolute;
  left: 55px;
  top: 110px;
}
.bets{
  background-color: coral;
  height: 70px;
  width: 100px;
  position: absolute;
  left:270px;
  top: 110px;
}
 #p1{
  background-color: crimson;
  height: 70px;
  width: 60px;
  position: absolute;
  left: 120px;
  top: 230px;
}
#p2{
  background-color: darkblue;
  height: 70px;
  width: 60px;
  position: absolute;
  left: 220px;
  top: 230px;
}
#d1{
  background-color: darkgoldenrod;
  height: 70px;
  width: 60px;
  position: absolute;
  left: 120px;
  top: 0px;
}
#d2{
  background-color: darkorchid;
  height: 70px;
  width: 60px;
  position: absolute;
  left: 220px;
  top: 0px;
}
#hit{
  background-color: darkslategray;
  height: 45px;
  width: 45px;
  position: absolute;
  left: 280px;
  top:520px;
  border-radius: 50%;
}
#stand{
  background-color: deeppink;
  height: 45px;
  width: 45px;
  position: absolute;
  left: 400px;
  top: 520px;
  border-radius: 50%;
}
#deal{
  background-color: aqua;
  height: fit-content;
}
#dealerInput{
  width: 30px;
}
#playerInput{
  width: 30px;
}